<div class="mat-typography">
  <h2 mat-dialog-title>Remove Training?</h2>
  <mat-dialog-content>
   Are you sure you want to remove {{ training.name }} from the catalog?
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true">Remove</button>
  </mat-dialog-actions>
</div>
